html {
  font-size: 14px;
  font-family: "Oswald", sans-serif;
  background-color: bisque;
}
h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #00539f;
  text-shadow: 3px 3px 1px black;

}
h2 {
    font-size: 30px;
    text-align: center;
}
.img1 {
    width: 180px;
    float: right;
    margin-right: 10cm;
    display: block;
}
.img2 {
    width: 180px;
    float: right;
    margin-right: 0cm;
    display: block;
}
p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  margin-left: 3cm;
}
body {
  width: 600px;
  margin: 0 auto;
  background-color: #ff9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
a {
    font-size: 12px;
}